@charset 'utf-8';

* {
	margin: 0;
	background-color: transparent;

	//尺寸小於750px 無動畫
	@media screen and (max-width: 750px) {
		[data-aos] {
			opacity: 1 !important;
			transform: none !important;
		}
	}
}

#bear {
	position: fixed;
	width: 5rem;
	bottom: 75px;
	right: 1%;
	z-index: 50;

	@media (max-width: 750px) {
		display: none;
	}
}

#main {
	.divVideo {
		video {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}

		.videoContent {
			display: flex;
			height: 950px;
			width: auto;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			#LOGO {
				align-items: center;
			}

			.slogan {
				h5 {
					font-family: "Sen";
					font-style: normal;
					font-weight: 700;
					font-size: 1.5rem;
					line-height: 29px;
					/* identical to box height */
					color: #ffffff;

					@media (max-width: 580px) {
						font-size: 1.3rem;
					}
				}
			}

			button {
				margin-top: 2rem;
				text-align: center;
				border: 2px solid #ffffff;
				border-radius: 50px;
				padding: 0px 50px;

				a {
					text-decoration: none;
					font-family: "Sen";
					font-style: normal;
					font-weight: 700;
					font-size: 2rem;
					line-height: 43px;
					color: #ffffff;
				}
			}

			button:hover {
				background-color: white;

				a {
					color: #58ff90;
				}
			}
		}
	}
}

header {
	position: sticky;
	top: 100%;
	left: 0;
	transition: background-color 0.5s ease;

	//Rwd漢堡icon
	//取消漢堡邊框
	.navbar-toggler {
		&:focus {
			box-shadow: unset;
		}
	}

	.hamburger {
		.hamburger-box {
			height: 30px;
			width: 30px;

			@mixin hamburger {
				width: 30px;
				background-color: rgba(0, 0, 0, 0.7);
			}

			.hamburger-inner {
				width: 30px;
				background-color: #00ff40;

				&:before {
					width: 30px;
					background-color: #fbff00;
				}

				&:after {
					width: 30px;
					background-color: rgba(1, 196, 255, 0.7);
				}
			}
		}
	}

	#navbarSupportedContent {
		@media (max-width: 991px) {
			background-color: rgba(255, 255, 255, 0.6);
		}
	}

	a {
		text-decoration: none;
		// width: 219px;
		height: 24px;
		left: 0px;
		top: 2px;
		font-family: "Sen", sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 2rem;
		margin: 20px;
		/* identical to box height */
		letter-spacing: 0.05em;
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.btn {
		margin: 10px;
		padding: 8px 10px;
		font-family: "Sen", sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 1.5rem;
		color: #58ff90;
		box-sizing: border-box;
		background-blend-mode: darken;
		border: 2px solid #ffffff;
		border-radius: 50px;
	}

	.btn:hover {
		background-color: #ffffff;
		color: #58ff90;
	}

	.nav-item:hover {
		border-bottom: 2px solid #ffffff;
	}
}

#news {
	height: 800px;
	width: auto;
	background-color: #f0e8dc;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;

	#greenCloud {
		position: absolute;
		z-index: 1;
		right: 0;
		top: 2%;
	}

	#news_area {
		position: relative;
		height: 600px;
		max-width: 100%;

		.news-tittle {
			position: absolute;
			align-items: flex-start;
			background-color: #9faf7d;
			height: 5rem;
			width: 20rem;
			padding: 2px 19px;
			z-index: 2;
			left: 10%;
			top: 10rem;

			@media (max-width: 750px) {
				top: 1rem;
			}

			h1 {
				font-family: "Sen";
				font-style: bold;
				font-weight: 800;
				font-size: 2.5rem;
				color: #ffffff;
				// min-height: 77px;
				padding: 15px 30px;
			}
		}

		.accordion {
			position: absolute;
			left: 15%;
			top: 14rem;
			width: 70%;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (max-width: 750px) {
				top: 5rem;
			}

			.accordion-item {
				background-color: #ecbdaf;

				.accordion-button {
					background-color: #fffbf6;
					font-family: "Sen";
					font-style: bold;
					font-weight: 800;
					font-size: 2rem;
					color: #f08b07;
					padding: 20px 30px;

					@media (max-width: 750px) {
						font-size: 1.75rem;
					}
				}
			}

			.accordion-collapse {
				.accordion-body {
					font-family: "Sen";
					font-style: bold;
					font-size: 2rem;
					color: #ffffff;
					padding: 20px 30px;

					@media (max-width: 750px) {
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}

#about {
	background-color: #f0e8dc;
	height: 1600px;
	position: relative;

	h5 {
		position: absolute;
		margin-top: 15rem;
		height: 35rem;
		width: 8%;
		left: 40%;
		writing-mode: vertical-rl;
		background-color: #9faf7d;
		z-index: 2;
		padding: 10px;
		font-family: "sen";
		font-style: normal;
		font-weight: 400;
		font-size: 5rem;
		color: #000000;
	}

	h4 {
		position: absolute;
		margin-top: 40rem;
		left: 50%;
		height: 35rem;
		width: 8%;
		writing-mode: vertical-rl;
		background-color: #73a083;
		z-index: 2;
		padding: 10px;
		font-family: "sen";
		font-style: normal;
		font-weight: 400;
		font-size: 5rem;
		color: #ffffff;
	}

	#seaView {
		position: absolute;
		margin-top: 10%;
		width: 90%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	#whiteCloud {
		position: absolute;
		bottom: 4rem;
		z-index: 0;
		width: 330px;
	}

	@media (max-width: 750px) {
		display: none;
	}
}

//熱門文章
#popular {
	position: relative;
	height: 1000px;
	background-image: url("../media/popular.jpg");
	background-size: cover;
	/* 調整圖片大小以符合元素大小 */
	background-position: center;
	/* 將圖片置中 */

	.popular-title {
		position: absolute;
		align-items: flex-start;
		background-color: #9faf7d;
		height: 5rem;
		width: 20rem;
		z-index: 2;
		left: 5%;
		top: 10rem;

		h1 {
			font-family: "Sen";
			font-style: bold;
			font-weight: 800;
			font-size: 3rem;
			// line-height: 43px;
			color: #ffffff;
			min-height: 77px;
			padding: 15px 30px;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: #ffffff;
		// pagination導覽點點顏色
	}

	section#article {
		// ↑ 絕對不能空格

		.container {
			//文章標題
			#target-div1 {
				display: flex;
				flex-direction: column;
				align-items: start;
				position: absolute;
				top: 20rem;
				left: 10rem;
				font-family: "Sen";
				font-style: normal;
				font-weight: 700;
				font-size: 4rem;
				line-height: 43px;
				color: #ffffff;

				@media (max-width: 1500px) {
					display: none;
				}
			}

			//作者
			#target-div2 {
				display: flex;
				flex-direction: row;
				align-items: start;
				align-items: center;
				position: absolute;
				top: 28rem;
				left: 10rem;
				font-family: "Sen";
				font-style: normal;
				font-weight: 700;
				font-size: 2rem;
				line-height: 43px;
				color: #ffffff;

				@media (max-width: 1500px) {
					display: none;
				}
			}

			//愛心&觀看數
			#target-div3 {
				display: flex;
				flex-direction: row;

				align-items: start;
				position: absolute;
				align-items: center;
				top: 35rem;
				left: 20rem;
				font-family: "Sen";
				font-style: normal;
				font-weight: 700;
				font-size: 1.25rem;
				line-height: 43px;
				color: #ffffff;

				@media (max-width: 1500px) {
					display: none;
				}
			}

			.swiper-container {
				position: absolute;
				top: 0;
				right: 0;
				width: 69.5%;
				// max-width: 770px;
				max-width: 900px;
				//可以修改這裡讓卡片變多
				padding-top: 250px;
				padding-bottom: 50px;
				z-index: 10;

				// clip-path: inset(343px 0 0 0 round 18.8% 17.9% 0 0);
				@media (max-width: 992px) {
					// margin-top: 550px;
					width: 43.4%;
					position: initial;
					// clip-path: inset(344px 0 0 0 round 23% 21.6% 0 0);
				}

				@media (max-width: 768px) {
					width: 300px;
					margin-top: 0vh;
				}

				@media (max-width: 375px) {
					width: 76.5%;
					min-width: 260px;
				}

				.swiper-wrapper {
					.swiper-slide {
						background-position: center;
						background-size: cover;
						max-width: 300px;
						width: 300px;
						height: 540px;

						color: white;
						font-weight: bold;

						@media (max-width: 375px) {
							width: 70vw;
							min-width: 260px;
						}
					}

					.popularUser {
						display: flex;
						flex-direction: row;
						align-items: center;
						letter-spacing: 2px;
						position: absolute;
						bottom: 1rem;
						left: 10px;
						font-family: "Sen";
						font-style: bold;
						font-weight: 800;
						font-size: 1.2rem;
						color: #ffffff;
					}

					#slideA {
						background-image: url(../media/recommend-2.png);
						// ↓ 加陰影 右 下
						box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
						position: relative;

						.articleA-topText1 {
							position: absolute;
							bottom: 7rem;
							left: 10px;
							font-family: "Sen";
							font-style: bold;
							font-weight: 800;
							font-size: 2.5rem;
							color: #ffffff;
						}

						.articleA-topText3 {
							position: absolute;
							bottom: 1rem;
							right: 15px;
							font-family: "Sen";
							font-size: 1rem;
							color: #ffffff;
						}
					}

					#slideB {
						background-image: url(../media/recommend-4.png);
						box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
						position: relative;

						.articleB-topText1 {
							position: absolute;
							bottom: 7rem;
							font-family: "Sen";
							font-style: bold;
							font-weight: 800;
							font-size: 2.5rem;
							color: #ffffff;
						}

						.articleB-topText3 {
							position: absolute;
							bottom: 1rem;
							right: 15px;
							font-family: "Sen";
							font-size: 1rem;
							color: #ffffff;
						}
					}

					#slideC {
						background-image: url(../media/recommend-6.png);
						box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
						position: relative;

						.articleC-topText1 {
							position: absolute;
							bottom: 7rem;
							left: 10px;
							font-family: "Sen";
							font-style: bold;
							font-weight: 800;
							font-size: 2.5rem;
							color: #ffffff;
						}

						.article-C {
							width: 450px;
							margin-top: -10px;
							margin-left: -60px;
							transform: rotate(-12deg);
						}

						.articleC-topText3 {
							position: absolute;
							bottom: 1rem;
							right: 15px;
							font-family: "Sen";
							font-size: 1rem;
							color: #ffffff;
						}
					}
				}
			}

			.swiper-button-next {
				right: calc(65vw - 470px);
				top: 668px;
				background-image: none;

				@media (max-width: 992px) {
					top: 1200px;
					right: 10vw;
				}

				@media (max-width: 768px) {
					right: 20%;
					top: 120%;
				}

				@media (min-height: 812px) {
					top: 90%;
				}

				i {
					font-size: 40px;
					color: #58ff90;
				}
			}

			.swiper-button-prev {
				left: calc(70vw - 470px);
				top: 668px;
				background-image: none;

				@media (max-width: 992px) {
					top: 1200px;
					left: 10vw;
				}

				@media (max-width: 768px) {
					left: 20%;
					top: 120%;
				}

				@media (min-height: 812px) {
					top: 90%;
				}

				i {
					font-size: 40px;
					color: #58ff90;
				}
			}
		}
	}
}

//推薦文章
#recommend {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #f0e8dc;
	padding-bottom: 20rem;

	//手繪動畫
	#ship {
		width: 171px;
		height: 308px;
		stroke-dasharray: 1150;
		animation: 8s fillSvg linear;

		@media (max-width: 1835px) {
			display: none;
		}
	}

	@keyframes fillSvg {
		0% {
			stroke-dashoffset: 1150;
		}

		100% {
			stroke-dashoffset: 0;
		}
	}

	#wave {
		width: 1267px;
		height: 78px;
		stroke-dasharray: 1270;
		animation: 8s fillSvg linear;

		@media (max-width: 1835px) {
			display: none;
		}
	}

	@keyframes fillSvg {
		0% {
			stroke-dashoffset: 1270;
		}

		100% {
			stroke-dashoffset: 0;
		}
	}

	.recommend-tittle {
		display: inline-block;
		margin: 5% 8%;
		background-color: #9faf7d;
		height: 5rem;
		width: 25rem;
		z-index: 2;

		@media (max-width: 450px) {
			margin: 0%;
			height: 5rem;
			width: 23rem;
		}

		h1 {
			font-family: "Sen";
			font-style: bold;
			font-weight: 800;
			font-size: 3rem;
			// line-height: 43px;
			color: #ffffff;
			padding: 15px 30px;
		}
	}

	.container {
		width: 100%;
		margin: 5px auto;
		column-count: 3;
		// 欄數
		column-gap: 5px;

		@media (max-width: 1200px) {
			column-count: 2;
		}

		@media (max-width: 700px) {
			column-count: 1;
		}

		.card {
			break-inside: avoid;

			img {
				max-width: 100%;
				max-height: 540px;
				object-fit: cover;
			}

			.card-img-overlay {
				.user {
					display: flex;
					flex-direction: row;

					P {
						font-family: "Sen";
						font-style: bold;
						font-weight: 800;
						font-size: 1rem;
						color: #ffffff;
						align-self: center;
					}
				}
			}
		}
	}
}

.recommemdCard:hover {
	opacity: 0.8;
	cursor: pointer;
}

// footer
footer {
	background-color: #73a083;

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 180px;

		@media (max-width: 1200px) {
			height: 100%;
		}

		#footerLogo {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: 20rem;
			}

			h5 {
				font-family: "Sen";
				font-style: normal;
				font-weight: 800;
				font-size: 1rem;
				color: #ffffff;
			}
		}

		#footerNav {
			li {
				.footer_en {
					display: block;
					text-decoration: none;
					font-family: "Sen", sans-serif;
					font-style: normal;
					font-weight: 800;
					font-size: 1.25rem;
					margin: 0 20px;
					/* identical to box height */
					letter-spacing: 0.05em;
					color: #ffffff;
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					text-align: center;
				}

				.footer_ch {
					display: block;
					text-decoration: none;
					font-family: "Sen", sans-serif;
					font-style: normal;
					font-weight: 800;
					font-size: 1rem;
					letter-spacing: 0.05em;
					color: #ffffff;
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					text-align: center;
				}
			}
		}
	}
}
