footer {
  background-color: #73a083;
  position: sticky;
  .container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 180px;

    @media (max-width: 1200px) {
      height: 100%;
      justify-content: space-around;
    }

    #footerLogo {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 20rem;
      }

      h5 {
        font-family: "Sen";
        font-style: normal;
        font-weight: 800;
        font-size: 1rem;
        color: #ffffff;
      }
    }

    #footerNav {


      li {
        .footer_en {
          display: block;
          text-decoration: none;
          font-family: "Sen", sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 1.25rem;
          margin: 0 20px;
          /* identical to box height */
          letter-spacing: 0.05em;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          text-align: center;
        }

        .footer_ch {
          display: block;
          text-decoration: none;
          font-family: "Sen", sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 1rem;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          text-align: center;
        }

        @media (max-width: 1200px) {
          padding-left: 5%;
        }

      }
    }
  }
}