/* ----- color ----- */
$Rice: #f0e8dc;
$ButtonHover: #5db8a6;
// $Blue: #27a2b8;
$Blue: #73a083;
$Green: #b2d5ce;
// $Green2: #65c6c6;
$Green2: #73a083;
$TableGreen: #eaf2f0;
$black: #000000;
$white: white;

/* ----- font(global) ----- */
//左邊title -> li
$leftTitle: 1.75rem;
$leftColor: black;
//左邊大頭貼username
$shotName: 1.5rem;
$shotColor: white;
//右邊title
$rightTitle: 2.5rem;
// 右邊title background -> $Green
$tableText: 1.5rem; // -> 後臺table:最新消息，會員管理
// 右邊block background -> #ffffff

/* ----- font(CRUD-button) ----- */
$ButtonColor: #73a083;
$TrashColor: #ff4848;
$CancelColor: #fab10c;
$HoverBg: #ffffff;
$ButtonText: 1rem;
$takeofText: 1rem; //->表格內下架
$changePwd: 1.25rem;
/* ----- font(local) ----- */
$lableText: 1.5rem; // -> 後台表單lable
$InputText: 1.25rem; //-> input的字
$ArticleText: 1.15rem; // -> 後台文章管理table

$clientBtnfont: 1.25rem; //會員後台btn字大小
$myarticles_atag: black; //我的文章超連結顏色
$myarticlesEdit: $Blue; //我的文章編輯按鍵
$myarticlesBtnDisable: gray; //我的文章不能按的按鈕
$myarticlesBtnDisablebg: rgb(182, 182, 182); //我的文章不能按的按鈕背景
$myarticlesTakeof: rgb(221, 221, 221); //table 已下架顏色
$myarticlesDelete: rgb(178, 178, 178); //table 已刪除顏色

$clientMessagecolor: #b2d5ce; //會員後台的主顏色（input外匡、按鈕顏色、tablehover顏色）
$MessageBtnHover: white; //會員後台按鈕hovwr顏色

/* ----- card字體變數 ----- */
$hoverMore: 1.25rem; //morebtn
$cardTitle: 1.25rem; //文章標題
$cardUsername: 1.15rem; //作者名字
$cardLikeicon: 1.75rem; //喜歡收藏愛心大小
$cardViewsAndHeart: 1rem; //熱門度觀看數顯示

/* ----- card顏色變數 ----- */
$articleTitle: black;
$moreBtnbg: rgb(255, 255, 255, 0);
$moreBtnText: white;
$Heart: #ff4848;
$articleUsername: black;
$articleViewsAndHeart: black;

/* ----- 旅遊導覽變數 ----- */
$Blue2: #98ab68;
$H1: #9faf7d;
$H2: #73a083;

$pageTitle: 3rem;
$pageColor: $Blue;
// hashtags
$tagsText: 1.5rem;
$tagsBg: $H2;
$tagsHover: $H2;
// 地區｜觀看數｜熱門度
$inputText: 1.75rem;
$inputBgColor1: $H2;
$inputBgColor2: white;

/* -------- 全域設定 -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Sen", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

/* 設定字型 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.woff2) format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.woff) format("woff"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.ttf) format("truetype");
}