// variable
// font-size
$editSize: 1.25rem;
$editTitleSize: 2rem;
$editNormalSize: 1rem;
// color
$colorRice: #f0e8dc;

// radius
$inputRadius: 0.5rem;

// btnColor & Size
$btnUploadColor: #65c6c6; //bdcac9
$btnUploadColorHover: #65c6c6;
$btnUploadFz: 1.25rem;

// 向下箭頭svg
$arrowSvg: "data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='%2365c6c6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.916 7.44141L16.7832 8.30859C17.1504 8.67578 17.1504 9.26953 16.7832 9.63281L9.19336 17.2266C8.82617 17.5938 8.23242 17.5938 7.86914 17.2266L0.275391 9.63281C-0.0917969 9.26562 -0.0917969 8.67188 0.275391 8.30859L1.14258 7.44141C1.51367 7.07031 2.11914 7.07812 2.48242 7.45703L6.9668 12.1641V0.9375C6.9668 0.417969 7.38477 0 7.9043 0H9.1543C9.67383 0 10.0918 0.417969 10.0918 0.9375V12.1641L14.5762 7.45703C14.9395 7.07422 15.5449 7.06641 15.916 7.44141Z' fill='%2365c6c6'/%3E%3C/svg%3E%0A";

// 按鈕區
@mixin edit-btn($btn-color) {
	color: white;
	background-color: rgba($btn-color, 1);
	border: none;
	border-radius: $inputRadius;
	font-size: 1.5rem;
	margin: 0 0.5rem;
	transition: all 0.1s ease; /* 添加過渡效果以平滑過渡 */
	&:hover {
		color: white;
		background-color: mix($btn-color, black, 90%);
		border: none;
	}
	&:active {
		color: white !important;
		background-color: mix($btn-color, black, 80%) !important;
		border: none;
	}
}

// 編輯區字體
@mixin detail($fz: 1rem) {
	width: 100%;
	font-size: $fz;
}
