@charset "UTF-8";
/* ----- color ----- */
/* ----- font(global) ----- */
/* ----- font(CRUD-button) ----- */
/* ----- font(local) ----- */
/* ----- card字體變數 ----- */
/* ----- card顏色變數 ----- */
/* ----- 旅遊導覽變數 ----- */
/* -------- 全域設定 -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Sen", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

section.selfArticles {
  border-top: #000000 2px solid;
  margin: 3rem 0;
}
section.selfArticles h6.articles {
  font-weight: bold;
}
section.selfArticles .c-mylikes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

div.onecard {
  width: 280px;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem 0.5rem;
}
div.onecard a.c-cardImg {
  width: 100%;
  height: 200px;
  position: relative;
}
div.onecard a.c-cardImg:hover .c-imgCover {
  display: block;
}
div.onecard a.c-cardImg div.c-imgCover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
div.onecard a.c-cardImg div.c-imgCover p {
  color: black;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: 2rem;
  left: 28%;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: center;
  width: fit-content;
}
div.onecard a.c-cardImg img.Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.onecard div.card_body {
  margin: 1rem;
}
div.onecard div.card_body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.onecard div.card_body div a.c-toSelfpage {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.onecard div.card_body div a.c-toSelfpage h4.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-size: 1.25rem;
  margin: 1rem 0;
}
div.onecard div.card_body div i.heart {
  color: #ff4848;
  font-size: 1.75rem;
  cursor: pointer;
}
div.onecard div.card_body a.c-userName {
  text-decoration: none;
  color: black;
}
div.onecard div.card_body a.c-userName h6 {
  font-size: 1.15rem;
}
div.onecard div.card_body a.c-userName h6 img.head {
  width: 40px;
  height: 40px;
  background-color: #27a2b8;
  border-radius: 50%;
  object-fit: cover;
}
div.onecard div.card_body div.viewsAndHeart {
  color: black;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 1rem;
}
div.onecard div.card_body div.viewsAndHeart p {
  margin-left: 1rem;
}

body {
  background-color: #f0e8dc;
}

/* 封面圖片 */
section.c-head div.img2 {
  width: 100%;
  height: 55vh;
  background: url(../../img/sunrise.jpg) no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  clip-path: ellipse(75% 50% at 50% 30%);
  position: relative;
}

/* 左右分開的區塊的父層 */
.c-rwd {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* 左邊區塊 */
.c-left {
  flex: 0 1 300px;
  top: 8vh;
  position: sticky;
  height: 100%;
  margin: 0 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 大頭貼藍色背景 */
  /* 左邊選單 */
}
.c-left .c-head {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  background-color: #27a2b8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  /* 大頭貼username */
  /* 大頭貼圈圈 */
}
.c-left .c-head h4.username {
  color: white;
  font-size: 1.5rem;
  font-weight: 0;
}
.c-left .c-head div.h-img {
  height: 70%;
  width: 70%;
  overflow: hidden;
  border-radius: 50%;
  border: 4px white solid;
  /* 大頭貼 */
}
.c-left .c-head div.h-img img.shot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-left .c-select ul {
  padding: 1.5rem;
  margin: 2.5rem 0 0 0;
  border-top: 4px solid #27a2b8;
  font-size: 1.75rem;
}
.c-left .c-select ul li {
  padding: 1rem;
  list-style: none;
  font-weight: 400;
  transition: all 0.2s;
}
.c-left .c-select ul li:hover {
  border-bottom: 3px solid #27a2b8;
}
.c-left .c-select ul li a {
  color: black;
  text-decoration: none;
}

/* 右邊隨選項變動的區塊 */
.c-right {
  flex: 1 1 800px;
  width: 100%;
  /* 每個選項的功能頁 */
}
.c-right .c-block {
  background-color: white;
  width: 100%;
  /* 大title */
}
.c-right .c-block .c-title {
  display: inline-block;
  width: 30vw;
  min-width: 300px;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #b2d5ce;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 螢幕小於992px */
@media (max-width: 992px) {
  body section.c-rwd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  body section.c-rwd section.c-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    flex: 0 1 250px;
    top: 0;
    margin: 0;
  }
  body section.c-rwd section.c-left div.c-head {
    width: 180px;
    height: 180px;
  }
  body section.c-rwd section.c-left div.c-select ul {
    border: none;
    margin: 0;
    padding: 0 0 0 1rem;
  }
  body section.c-rwd section.c-left div.c-select ul li {
    padding: 0.5rem;
  }
}
@media (max-width: 400px) {
  section.c-rwd section.c-right .c-block .c-title {
    width: 100%;
    text-align: center;
  }
}
/* 編輯封面按鈕 */
div.bannerModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: fit-content;
  padding: 1.75rem;
  display: flex;
  justify-content: end;
}
div.bannerModal button {
  padding: 0.25rem 1.5rem;
  margin: 0 1rem;
  font-size: 1.25rem;
  background: #b2d5ce;
  border: #b2d5ce 2px solid;
  border: none;
  border-radius: 50px;
  transition: all 0.2s ease;
}
div.bannerModal button.cancel {
  background: rgba(255, 255, 255, 0.8);
}
div.bannerModal button:hover {
  background-color: white;
}

img.selfbanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit_cover {
  position: absolute;
  height: fit-content;
  padding: 0.25rem 1.5rem;
  right: 8%;
  top: 50%;
  font-size: 1.25rem;
  background: #b2d5ce;
  border: #b2d5ce 2px solid;
  border: none;
  border-radius: 50px;
}
.edit_cover:hover {
  background-color: white;
}

/* 大頭貼相機icon */
button.camera {
  border: 0.5px white solid;
  position: absolute;
  background-color: white;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 150px;
  right: 50px;
}

@media (max-width: 992px) {
  button.camera {
    top: 105px;
    right: 40px;
  }
}
/* 編輯大頭貼預覽視窗 */
.mymodal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.mymodal div.modalContent {
  background-color: #f0e8dc;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.mymodal div.modalContent span.closemodal {
  position: absolute;
  top: 10px;
  align-self: self-end;
  font-size: x-large;
  cursor: pointer;
}
.mymodal div.modalContent div.imgPreviewBorder {
  width: 175px;
  height: 175px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px white solid;
}
.mymodal div.modalContent div.imgPreviewBorder img.imgPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mymodal div.modalContent button.uploadShot,
.mymodal div.modalContent .uploadShotDone {
  padding: 0.25rem 0.85rem;
  background: #b2d5ce;
  border-radius: 50px;
  border: #b2d5ce 2px solid;
  font-size: 1.25rem;
}
.mymodal div.modalContent button.uploadShot:hover,
.mymodal div.modalContent .uploadShotDone:hover {
  background: white;
}

/* 右邊區塊 */
/* 個人資料 */
.c-form {
  padding: 2rem 2rem 4rem 3rem;
  /* 個人資料 - 新增 */
}
.c-form input {
  white-space: normal;
}
.c-form .c-inbox {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  /* input[type="text"]  */
}
.c-form .c-inbox label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.c-form .c-inbox #bday {
  padding-left: 1rem;
}
.c-form .c-inbox .c-textmessage {
  font-size: 1.25rem;
  border: none;
  width: 85%;
  padding-left: 1rem;
}
.c-form .c-inbox .c-textmessage:hover, .c-form .c-inbox .c-textmessage:focus {
  border: 1.5px #b2d5ce solid;
  border-radius: 50px;
  padding-left: 1rem;
}
.c-form .c-inbox button {
  padding: 0.25rem 0.85rem;
  border-radius: 50px;
  position: absolute;
  bottom: -40px;
  border: #65c6c6 2px solid;
  right: 20px;
  background: #65c6c6;
  color: #ffffff;
}
.c-form .c-inbox button:hover {
  color: #65c6c6;
  background: #ffffff;
  border: #65c6c6 2px solid;
}
.c-form .c-textarea {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.c-form .c-textarea label {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.c-form .c-textarea .c-textbox {
  border: 1.5px #b2d5ce solid;
  border-radius: 10px;
  height: 100px;
  font-size: 1.25rem;
  padding: 0.5rem;
}

/* 我的收藏 */
.c-mylikes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

/* 我的文章 */
.c-mine {
  padding: 2rem;
  height: 600px;
  width: 100%;
  overflow: auto;
  background-color: white;
}
.c-mine .c-myart {
  text-align: left;
}
.c-mine .c-myart tr td {
  max-width: 15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1.15rem;
  width: 100%;
}
.c-mine .c-myart tr td a {
  color: black;
  text-decoration: none;
}
.c-mine .c-myart tr td a.c-editArt {
  color: #27a2b8;
}
.c-mine .c-myart tr td button.c-takeOf {
  background-color: #b2d5ce;
  border-radius: 50px;
  border: #b2d5ce 2px solid;
  text-align: center;
  padding: 0.2rem 0.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease;
  font-size: 1rem;
}
.c-mine .c-myart tr td button.c-takeOf:hover {
  background-color: white;
}
.c-mine .c-myart tr td button.c-takeOf:disabled {
  background-color: rgb(182, 182, 182);
  color: gray;
  border: none;
}
.c-mine .c-myart tr:hover {
  background-color: rgba(178, 213, 206, 0.3);
}
.c-mine .c-myart tr.c-deleteDone {
  background-color: rgb(178, 178, 178);
}
.c-mine .c-myart tr.c-takeOfDone {
  background-color: rgb(221, 221, 221);
}

#c-likes,
#c-myarts {
  display: none;
}/*# sourceMappingURL=clientpage.css.map */