@charset "UTF-8";
/* ----- color ----- */
/* ----- font(global) ----- */
/* ----- font(CRUD-button) ----- */
/* ----- font(local) ----- */
/* ----- card字體變數 ----- */
/* ----- card顏色變數 ----- */
/* ----- 旅遊導覽變數 ----- */
/* -------- 全域設定 -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Sen", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

section.selfArticles {
  border-top: #000000 2px solid;
  margin: 3rem 0;
}
section.selfArticles h6.articles {
  font-weight: bold;
}
section.selfArticles .c-mylikes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

div.onecard {
  width: 280px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem 0.5rem;
}
div.onecard a.c-cardImg {
  width: 100%;
  height: 200px;
  position: relative;
}
div.onecard a.c-cardImg:hover .c-imgCover {
  display: block;
}
div.onecard a.c-cardImg div.c-imgCover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
div.onecard a.c-cardImg div.c-imgCover p {
  color: black;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: 2rem;
  left: 28%;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
div.onecard a.c-cardImg img.Img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.onecard div.card_body {
  margin: 1rem;
}
div.onecard div.card_body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.onecard div.card_body div a.c-toSelfpage {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.onecard div.card_body div a.c-toSelfpage h4.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-size: 1.25rem;
  margin: 1rem 0;
}
div.onecard div.card_body div i.heart {
  color: #ff4848;
  font-size: 1.75rem;
  cursor: pointer;
}
div.onecard div.card_body a.c-userName {
  text-decoration: none;
  color: black;
}
div.onecard div.card_body a.c-userName h6 {
  font-size: 1.15rem;
}
div.onecard div.card_body a.c-userName h6 img.head {
  width: 40px;
  height: 40px;
  background-color: #27a2b8;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.onecard div.card_body div.viewsAndHeart {
  color: black;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 1rem;
}
div.onecard div.card_body div.viewsAndHeart p {
  margin-left: 1rem;
}

body {
  background-color: #f0e8dc;
  /* 個人首圖 + username - 個人封面 */
}
body section.selftop {
  height: 55vh;
  background: url(https://s3-alpha-sig.figma.com/img/d108/7687/d1647a8897961fe4f95a863fd3f2a376?Expires=1681689600&Signature=OzW-GPXj-2lBoykmLK5J6v5fhuL5lvW~VYnlepF5s0Uo4otzpvlsqw8ekL-G7gPkad7Dz20Qt7BZX71Kc5IskDu9~Il3RR1dW~smfI7gbZ6OgMjlc3pSe-hzoFL4J4f0FBcUjSTdhuTvfEzGSLuMfJc3f9qTLRys2G0UavS2fF5nbKWWJLfFhL-TinNyS4YY2xoytrPi5AmzorbXw8MjO3ERO-w-OK-XD3I-m1gmNzaUSUJjEkJewDMQCVA7Nnqb1zAsRGHO~N2xiaFJVdJViuAQaOVxrf-xpqLQGMaT6aeQB8~Y3oyHA68v-jb5DXbOWkF56B1SAw8ZeSRWoZMjwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: ellipse(75% 50% at 50% 30%);
          clip-path: ellipse(75% 50% at 50% 30%);
  position: relative;
}
body section.selftop img.selfCover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.selftop div.selfMessage {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 8%;
  bottom: 30%;
  display: flex;
  align-items: center;
}
body section.selftop div.selfMessage img.selfShot {
  width: 10vw;
  height: 10vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
  border: 2px white solid;
}
body section.selftop div.selfMessage h4.userName {
  color: white;
  -webkit-text-stroke: 1px #000000;
  font-weight: bold;
}
body div section.selfIntroduce {
  text-align: center;
  padding: 0 5rem;
}/*# sourceMappingURL=selfpage.css.map */