@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* 會員封面首圖區塊 */
}
body section.c-head div.img2 {
  height: 55vh;
  background: url(../../img/y-s-LGx9C3nSo5I-unsplash.jpg) no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: ellipse(75% 50% at 50% 30%);
          clip-path: ellipse(75% 50% at 50% 30%);
  position: relative;
  /* 編輯封面按鈕 */
}
body section.c-head div.img2 .edit_cover {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem 1.5rem;
  right: 8%;
  top: 50%;
  font-size: 24px;
  color: #5db8a6;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50px;
}
body section.c-head div.img2 .edit_cover:hover {
  background-color: white;
}
body section.c-rwd {
  display: flex;
  /* 左邊區塊 */
  /* 右邊區塊 */
}
body section.c-rwd section.c-left {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 大頭貼 */
}
body section.c-rwd section.c-left div.c-head {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  background-color: #27a2b8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
body section.c-rwd section.c-left div.c-head h4.username {
  color: white;
  font-weight: lighter;
}
body section.c-rwd section.c-left div.c-head div.h-img {
  height: 75%;
  width: 75%;
  overflow: hidden;
  border-radius: 50%;
  border: 4px white solid;
}
body section.c-rwd section.c-left div.c-head div.h-img img.shot {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.c-rwd section.c-left div.c-head button.camera {
  border: 0.5px white solid;
  position: absolute;
  background-color: white;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 160px;
  right: 50px;
}
body section.c-rwd section.c-left div.c-select ul {
  padding: 1.5rem;
  margin-top: 2.5rem;
  border-top: 3px solid #27a2b8;
  font-size: 1.5rem;
}
body section.c-rwd section.c-left div.c-select ul li {
  padding: 1rem 0;
  list-style: none;
  text-align: center;
  font-weight: 400;
  transition: all 0.2s;
}
body section.c-rwd section.c-left div.c-select ul li:hover {
  border-bottom: #27a2b8 solid 2px;
}
body section.c-rwd section.c-left div.c-select ul li a {
  color: black;
  text-decoration: none;
}
body section.c-rwd section.c-right {
  width: 100%;
  flex-grow: 1;
  /* 每個選項的功能頁 */
}
body section.c-rwd section.c-right .c-block {
  background-color: white;
  width: 100%;
  /* 個人資料 */
  /* 我的收藏 */
  /* 我的文章 */
}
body section.c-rwd section.c-right .c-block .c-title {
  display: inline-block;
  min-width: 300px;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #b2d5ce;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body section.c-rwd section.c-right .c-block .c-form {
  padding: 2rem 2rem 4rem 3rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  /* 儲存按鈕 */
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-textmessage {
  font-size: 1.25rem;
  width: 350px;
  border: none;
  width: 85%;
  padding-left: 1rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-textmessage:hover, body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-textmessage:focus {
  border: 1.5px #b2d5ce solid;
  border-radius: 50px;
  padding-left: 1rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-change {
  padding: 0.25rem 0.85rem;
  background: #b2d5ce;
  border-radius: 50px;
  border: #b2d5ce 2px solid;
  position: absolute;
  right: 20px;
  bottom: -40px;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-change:hover {
  background: white;
  border: #b2d5ce 2px solid;
}
body section.c-rwd section.c-right .c-block .c-form .c-textarea {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-textarea label {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-textarea .c-textbox {
  border: 1.5px #b2d5ce solid;
  border-radius: 10px;
  height: 200px;
}
body section.c-rwd section.c-right .c-block .c-mylikes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard {
  width: 250px;
  margin: 1rem 0.5rem;
  padding: auto;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card {
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card a.c-cardImg {
  width: 100%;
  height: 200px;
  position: relative;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card a.c-cardImg:hover .c-imgCover {
  display: block;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card a.c-cardImg div.c-imgCover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card a.c-cardImg div.c-imgCover p {
  color: black;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  position: absolute;
  bottom: 2rem;
  left: 65px;
  font-size: 24px;
  font-weight: bold;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card a.c-cardImg img.Img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body {
  margin: 1rem;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body div a.c-toSelfpage {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body div a.c-toSelfpage h4.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body div i.heart {
  color: #ff4848;
  font-size: 26px;
  cursor: pointer;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body a.c-userName {
  text-decoration: none;
  color: black;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body a.c-userName h6 {
  font-size: 16px;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body a.c-userName h6 img.head {
  width: 40px;
  height: 40px;
  background-color: #27a2b8;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.c-rwd section.c-right .c-block .c-mylikes div.onecard div.card div.card_body p.views {
  font-size: 16px;
  color: #bdcac9;
  float: right;
  margin: 0;
}
body section.c-rwd section.c-right .c-block .c-mine {
  padding: 2rem;
  height: 600px;
  width: 100%;
  overflow: auto;
  background-color: white;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart {
  text-align: left;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr td {
  max-width: 15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr td a {
  color: black;
  text-decoration: none;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr td a.c-editArt {
  color: #27a2b8;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr td button.c-takeOf {
  color: #27a2b8;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid #27a2b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr td button.c-takeOf:hover {
  border: none;
  background-color: #b2d5ce;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr td button.c-takeOf:disabled {
  background-color: rgb(182, 182, 182);
  color: gray;
  border: none;
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr:hover {
  background-color: rgba(178, 213, 206, 0.3);
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr.c-deleteDone {
  background-color: rgb(178, 178, 178);
}
body section.c-rwd section.c-right .c-block .c-mine .c-myart tr.c-takeOfDone {
  background-color: rgb(221, 221, 221);
}

@media (min-width: 992px) {
  section.c-rwd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  section.c-rwd .c-left {
    margin: 0 2rem;
    flex-basis: 350px;
    position: -webkit-sticky;
    position: sticky;
    top: 8vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 992px) {
  body section.c-rwd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  body section.c-rwd section.c-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin: 1rem;
    justify-content: center;
  }
  body section.c-rwd section.c-left div.c-head {
    width: 20%;
    height: 20%;
    min-width: 150px;
    min-height: 150px;
  }
  body section.c-rwd section.c-left div.c-head button.camera {
    top: 6em;
    right: 2em;
  }
  body section.c-rwd section.c-left div.c-select ul {
    border: none;
    font-size: 20px;
    margin: 0;
  }
  body section.c-rwd section.c-left div.c-select ul li {
    padding: 2px;
  }
  body section.c-right .c-mylikes {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  section.c-rwd section.c-right .c-block .c-title {
    width: 100%;
    text-align: center;
  }
}
#c-likes,
#c-myarts {
  display: none;
}

body {
  background-color: #f0e8dc;
  /* 個人首圖 + username - 個人封面 */
}
body section.selftop {
  height: 55vh;
  background: url(https://s3-alpha-sig.figma.com/img/d108/7687/d1647a8897961fe4f95a863fd3f2a376?Expires=1681689600&Signature=OzW-GPXj-2lBoykmLK5J6v5fhuL5lvW~VYnlepF5s0Uo4otzpvlsqw8ekL-G7gPkad7Dz20Qt7BZX71Kc5IskDu9~Il3RR1dW~smfI7gbZ6OgMjlc3pSe-hzoFL4J4f0FBcUjSTdhuTvfEzGSLuMfJc3f9qTLRys2G0UavS2fF5nbKWWJLfFhL-TinNyS4YY2xoytrPi5AmzorbXw8MjO3ERO-w-OK-XD3I-m1gmNzaUSUJjEkJewDMQCVA7Nnqb1zAsRGHO~N2xiaFJVdJViuAQaOVxrf-xpqLQGMaT6aeQB8~Y3oyHA68v-jb5DXbOWkF56B1SAw8ZeSRWoZMjwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: ellipse(75% 50% at 50% 30%);
          clip-path: ellipse(75% 50% at 50% 30%);
  position: relative;
}
body section.selftop img.selfCover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.selftop div.selfMessage {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 8%;
  bottom: 30%;
  display: flex;
  align-items: center;
}
body section.selftop div.selfMessage img.selfShot {
  width: 10vw;
  height: 10vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
  border: 2px white solid;
}
body section.selftop div.selfMessage h4.userName {
  color: white;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  font-weight: bold;
}
body div section.selfIntroduce {
  text-align: center;
  padding: 0 5rem;
}
body div section.selfArticles {
  border-top: black 2px solid;
  margin: 3rem 0;
}
body div section.selfArticles h6.articles {
  font-weight: bold;
}
body div section.selfArticles .c-mylikes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
body div section.selfArticles .c-mylikes div.onecard {
  width: 250px;
  margin: 1rem 0.5rem;
}
body div section.selfArticles .c-mylikes div.onecard div.card {
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg {
  width: 100%;
  height: 200px;
  position: relative;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg:hover .c-imgCover {
  display: block;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg div.c-imgCover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg div.c-imgCover p {
  color: black;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  position: absolute;
  bottom: 2rem;
  left: 65px;
  font-size: 24px;
  font-weight: bold;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg img.Img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body {
  margin: 1rem;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div a.c-toSelfpage {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div a.c-toSelfpage h4.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div i.fa-heart {
  color: #ff4848;
  font-size: 26px;
  cursor: pointer;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body a.c-userName {
  text-decoration: none;
  color: black;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body a.c-userName h6 {
  font-size: 16px;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body a.c-userName h6 img.head {
  width: 40px;
  height: 40px;
  background-color: #27a2b8;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body p.views {
  font-size: 16px;
  color: #BDCAC9;
  float: right;
  margin: 0;
}/*# sourceMappingURL=style.css.map */