$rice: #f0e8dc;
$white: #ffffff;

// #map {
//     height: 100%;
// }

html,
body {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #F0E8DC;
}

nav {
    position: fixed;
}



#content {
    padding-top: 56px;
    position: relative;
    // width: 600px;
    display: inline-block;

    hr {
        border-width: 2px;
        color: #65C6C6;
    }

    .section-guide-panel {
        position: relative;
        top: 0;
        left: 0;
        z-index: 200;
        // overflow-y: scroll;
        // pointer-events: none;
        padding: 20px 0 0 20px;



        .section-panel-inner {
            position: relative;
            top: 0;
            left: 0;

            >div {
                // margin: 10px 0 0 10px;
                border-radius: 8px;
                padding: 20px;
                background-color: $white;
                box-shadow: 0 4px 24px rgba(0, 0, 0, 1);
                margin-bottom: 60px;
            }

            .mainCard {
                padding-bottom: 10px;
            }

            .section-panel-intro {
                position: relative;
                top: 0;
                left: 0;
                max-width: 590px;



                .image-intro {
                    .image-placeholder {
                        border-radius: 8px;
                        height: 100%;
                        width: 100%;
                    }

                    #mainArticle {
                        #placeTitle {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h3 {
                                margin: 0;
                            }

                            p {
                                color: #49c4c4;
                                margin-left: 10px;
                                margin-bottom: 0rem;
                            }

                            .titlei {
                                margin-left: auto;
                                font-size: 1.5em;
                                display: flex;
                                justify-content: space-between;

                                &:hover {
                                    cursor: pointer;
                                }

                                #likepost {
                                    color: red;
                                    margin-right: 10px;
                                }

                                #reportPost {
                                    color: rgb(238, 219, 45);
                                }
                            }



                        }

                        #placeTag {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;

                            button {
                                margin: 0.5rem 0.25rem;
                                padding: 0.25rem 0.75rem;
                                display: inline-block;
                                border-radius: 50px;
                                border: #65c6c6 2px solid;
                                background: #65c6c6;
                                color: white;
                                font-size: 1rem;
                                cursor: pointer;

                                &:hover {
                                    background: white;
                                    color: #65c6c6;
                                    border: #65c6c6 2px solid;
                                }
                            }


                            .fa {
                                font-size: 36px;
                                margin-right: 10px;
                                color: #5DB8A6;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                align-items: center;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                        }

                        #author {
                            display: flex;
                            align-items: center;

                            #authorPhoto {
                                border-radius: 50%;
                                height: 50px;
                                width: 50px;
                                margin: 0 5px;
                            }

                            #authorName {
                                margin: 0 5px;
                                font-size: 16px;
                                font-weight: 800;
                            }
                        }

                        #count {
                            display: inline-flex;
                            float: right;

                            i {
                                color: #5DB8A6;
                                font-size: 18px;
                                margin-right: 10px;
                            }

                            p {
                                color: #5DB8A6;
                                font-size: 16px;
                                margin-left: 5px;
                                margin-right: 10px;
                            }

                        }

                    }


                }
            }

            @media (max-width: 767px) {
                display: flex;
                justify-content: center;
                align-items: center;

                /* 隱藏區塊標題 */
                .accordion-header.d-md-none {
                    display: block;
                }

                /* 顯示展開的區塊內容 */
                .accordion-collapse.collapse.show {
                    display: block;
                }

                >div {
                    box-shadow: none;
                    min-width: 400px;

                }

                .accordion {
                    max-height: max-content;

                }
            }

        }
    }

    .section-map-wapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;

        @media (max-width: 767px) {
            position: relative;
            width: 95%;
            height: 300px;
            margin: 0 auto;
            // margin-left: 20px;

        }
    }


}

// footer
footer {
    position: sticky;
    background-color: #84B085;
    z-index: 200;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 250px;

        #footerLogo {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 20rem;
            }

            h5 {
                font-family: "Sen";
                font-style: normal;
                font-weight: 800;
                font-size: 1rem;
                color: #ffffff;
            }
        }

        #footerNav {
            li {
                .footer_en {
                    display: block;
                    text-decoration: none;
                    font-family: "Sen", sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 1.25rem;
                    margin: 0 20px;
                    /* identical to box height */
                    letter-spacing: 0.05em;
                    color: #ffffff;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    text-align: center;
                }

                .footer_ch {
                    display: block;
                    text-decoration: none;
                    font-family: "Sen", sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 1rem;
                    letter-spacing: 0.05em;
                    color: #ffffff;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    text-align: center;
                }
            }
        }
    }
}