@import "fontstyle";
@import "../XinStyle/articlesCard";

body {
  background-color: $Rice;
  // RWD
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

/* 首圖 + 標題 - 旅遊導覽*/
section.title {
  margin: 3rem 3rem 0 3rem;
  // border: red 3px solid;

  /* 首圖區塊 */
  div.img {
    height: 55vh;
    background: url(../../img/grass.jpg) no-repeat;
    background-size: cover;
    // border: 3px blue solid;
    overflow: hidden;
    h1 {
      background-color: $white;
      display: inline-block;
      position: relative;
      font-size: $pageTitle;
      color: $pageColor;
      padding: 0.5rem 0 0.5rem 1rem;
      width: 35vw;
      max-width: 500px;
      top: 20%;
      margin-left: 3%;

      // border: 3px red solid;
    }
  }
}

/* hashtag 熱門度 地區 searchbar */
section.hashtag {
  margin: 0 2rem;
  /* 左邊tags 右邊search-bar */
  div.tag-search {
    //   border: 3px green solid;
    //   height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* 左邊tags */
    .left {
      padding-top: 1rem;
      width: 50%;
      flex: 3 1 350px;
      // border: 3px orange solid;
      ul.tags {
        li {
          margin: 0.5rem 0.25rem;
          padding: 0.25rem 0.75rem;
          display: inline-block;
          border-radius: 50px;
          border: $tagsBg 2px solid;
          background: $tagsBg;
          color: $HoverBg;
          font-size: $tagsText;
          cursor: pointer;
          &:hover {
            background: $HoverBg;
            color: $tagsBg;
            border: $tagsBg 2px solid;
          }
        }
      }
    }
    /* 右邊search-bar */
    .right {
      flex: 1 1 350px;
      // border: 3px blue solid;
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div {
        form {
          input {
            padding: 0rem 1.5rem;
            font-size: 1.25rem;
            border-radius: 50px;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
          button {
            padding: 0.25rem 0 0.25rem 0.75rem;
            font-size: 1.5rem;
            border: none;
            background-color: $Rice;
            color: $Blue;
          }
        }
      }
    }
  }

  /* 地區 觀看數 熱門度 排序鈕 */
  div.sort {
    //   border-bottom: 4px white solid;
    // padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    select.city {
      height: 50px;
      // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      display: inline-block;
      width: 300px;
      padding: 0.425rem;
      font-size: $inputText;
      text-align: center;
      border: none;
      font-family: "Font Awesome 5 Free", "Sen";
      background-color: $inputBgColor2;
      color: $inputBgColor1;
      border: $inputBgColor1 2px solid;
      option {
        font-family: "Font Awesome 5 Free", "Sen";
      }
      // color: $ButtonHover;
    }
    button.views {
      font-size: $inputText;
      width: 300px;
      display: inline-block;
      background-color: $inputBgColor1;
      color: $inputBgColor2;
      border: none;
    }
    button.hots {
      font-size: $inputText;
      width: 300px;
      display: inline-block;
      border: none;
      background-color: $inputBgColor2;
      color: $inputBgColor1;
      border: $inputBgColor1 2px solid;
      i {
        color: $Heart;
      }
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
