$Rice: #f0e8dc;
$ButtonHover: #5db8a6;
$Blue: #27a2b8;
$Green: #b2d5ce;
$Heart: #ff4848;
$black: black;
$white: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-family: "Sen", sans-serif;
}

@import "article";
@import "admin";
