@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-family: "Sen", sans-serif;
}

body {
  background-color: #f0e8dc;
  /* 首圖 + 標題 - 旅遊導覽*/
  /* hashtag 熱門度 地區 searchbar */
  /* 文章顯示區 */
}
body section.title {
  margin: 150px 3rem 0 3rem;
  /* 首圖區塊 */
}
body section.title div.img {
  height: 55vh;
  background: url(../../img/grass.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}
body section.title div.img h1 {
  background-color: white;
  display: inline-block;
  position: relative;
  font-size: 3rem;
  padding: 0.5rem 0 0.5rem 1rem;
  width: 35vw;
  max-width: 500px;
  top: 20%;
  margin-left: 3%;
}
body section.hashtag {
  margin: 0 3rem;
  /* 左邊tags 右邊search-bar */
  /* 地區 觀看數 熱門度 排序鈕 */
}
body section.hashtag div.tag-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body section.hashtag div.tag-search .left {
  padding-top: 1rem;
  width: 50%;
  flex: 3 1 350px;
}
body section.hashtag div.tag-search .left ul.tags li {
  margin: 6px 4px;
  padding: 4px 10px;
  display: inline-block;
  background-color: #b2d5ce;
  border-radius: 50px;
}
body section.hashtag div.tag-search .left ul.tags li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
body section.hashtag div.tag-search .left ul.tags li:hover {
  background-color: #5db8a6;
}
body section.hashtag div.tag-search .right {
  flex: 1 1 350px;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body section.hashtag div.tag-search .right div form input {
  padding: 0rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body section.hashtag div.tag-search .right div form button {
  padding: 0.25rem 0 0.25rem 0.75rem;
  font-size: 1.5rem;
  border: none;
  background-color: #f0e8dc;
  color: #27a2b8;
}
body section.hashtag div.sort form {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body section.hashtag div.sort form select.city {
  display: inline-block;
  width: 300px;
  padding: 0.425rem;
  font-size: 1.5rem;
  text-align: center;
  border: none;
}
body section.hashtag div.sort form button.views {
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 300px;
  display: inline-block;
  background-color: #b2d5ce;
  border: none;
}
body section.hashtag div.sort form button.hots {
  padding: 0.25rem;
  font-size: 1.5rem;
  width: 300px;
  display: inline-block;
  border: none;
  background-color: white;
}
body div section.selfArticles {
  border-top: black 2px solid;
  margin: 3rem 0;
}
body div section.selfArticles h6.articles {
  font-weight: bold;
}
body div section.selfArticles .c-mylikes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
body div section.selfArticles .c-mylikes div.onecard {
  width: 250px;
  margin: 1rem 0.5rem;
}
body div section.selfArticles .c-mylikes div.onecard div.card {
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg {
  width: 100%;
  height: 200px;
  position: relative;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg:hover .c-imgCover {
  display: block;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg div.c-imgCover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg div.c-imgCover p {
  color: black;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  position: absolute;
  bottom: 2rem;
  left: 65px;
  font-size: 24px;
  font-weight: bold;
}
body div section.selfArticles .c-mylikes div.onecard div.card a.c-cardImg img.Img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body {
  margin: 1rem;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div a.c-toSelfpage {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div a.c-toSelfpage h4.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body div i.fa-heart {
  color: #ff4848;
  font-size: 26px;
  cursor: pointer;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body a.c-userName {
  text-decoration: none;
  color: black;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body a.c-userName h6 {
  font-size: 16px;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body a.c-userName h6 img.head {
  width: 40px;
  height: 40px;
  background-color: #27a2b8;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body div section.selfArticles .c-mylikes div.onecard div.card div.card_body p.views {
  font-size: 16px;
  color: #bdcac9;
  float: right;
  margin: 0;
}

body {
  /* 封面圖片下方，左右區塊的父層 */
}
body section.c-head div.img2 {
  height: 55vh;
  background: url(../../img/sunrise.jpg) no-repeat bottom;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: ellipse(75% 50% at 50% 30%);
          clip-path: ellipse(75% 50% at 50% 30%);
  position: relative;
}
body section.c-rwd {
  display: flex;
  /* 左邊區塊 */
  /* 右邊隨選項變動的區塊 */
}
body section.c-rwd .c-left {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 大頭貼 */
}
body section.c-rwd .c-left .c-head {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  background-color: #27a2b8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
body section.c-rwd .c-left .c-head h4.username {
  color: white;
  font-weight: lighter;
}
body section.c-rwd .c-left .c-head div.h-img {
  height: 75%;
  width: 75%;
  overflow: hidden;
  border-radius: 50%;
  border: 4px white solid;
}
body section.c-rwd .c-left .c-head div.h-img img.shot {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.c-rwd .c-left .c-select ul {
  padding: 1.5rem;
  margin-top: 2.5rem;
  border-top: 3px solid #27a2b8;
  font-size: 1.5rem;
}
body section.c-rwd .c-left .c-select ul li {
  padding: 1rem 0;
  list-style: none;
  text-align: center;
  font-weight: 400;
  transition: all 0.2s;
}
body section.c-rwd .c-left .c-select ul li:hover {
  border-bottom: 2px solid #27a2b8;
}
body section.c-rwd .c-left .c-select ul li a {
  color: black;
  text-decoration: none;
}
body section.c-rwd section.c-right {
  width: 100%;
  flex-grow: 1;
  /* 每個選項的功能頁 */
}
body section.c-rwd section.c-right .c-block {
  width: 100%;
  background-color: white;
  /* 最新消息 */
  /* 最新消息新增  */
  /* 會員管理 */
  /* 文章管理 */
  /* 標籤管理 */
}
body section.c-rwd section.c-right .c-block .c-title {
  display: inline-block;
  min-width: 300px;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #b2d5ce;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body section.c-rwd section.c-right .c-block .a-news {
  padding: 2rem;
  max-height: 200px;
  width: 100%;
  overflow: auto;
  background-color: white;
  /* 最新消息顯示table */
}
body section.c-rwd section.c-right .c-block .a-news .c-myart {
  text-align: left;
}
body section.c-rwd section.c-right .c-block .a-news .c-myart tr td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1rem;
  width: auto;
}
body section.c-rwd section.c-right .c-block .a-news .c-myart tr:hover {
  background-color: rgba(178, 213, 206, 0.3);
}
body section.c-rwd section.c-right .c-block .a-news .c-myart .tbl-accordion-body {
  display: none;
}
body section.c-rwd section.c-right .c-block .c-form {
  padding: 2rem 2rem 4rem 3rem;
  /* 最新消息 - 新增 */
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  /* input[type="text"]  */
  /* 發布按鈕 */
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-textmessage {
  font-size: 1.25rem;
  width: 350px;
  border: none;
  width: 85%;
  padding-left: 1rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-textmessage:hover, body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-textmessage:focus {
  border: 1.5px #b2d5ce solid;
  border-radius: 50px;
  padding-left: 1rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-change {
  padding: 0.25rem 0.85rem;
  background: #b2d5ce;
  border-radius: 50px;
  border: #b2d5ce 2px solid;
  position: absolute;
  right: 20px;
  bottom: -40px;
}
body section.c-rwd section.c-right .c-block .c-form .c-inbox .c-change:hover {
  background: white;
  border: #b2d5ce 2px solid;
}
body section.c-rwd section.c-right .c-block .c-form .c-textarea {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-textarea label {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
body section.c-rwd section.c-right .c-block .c-form .c-textarea .c-textbox {
  border: 1.5px #b2d5ce solid;
  border-radius: 10px;
  height: 200px;
}
body section.c-rwd section.c-right .c-block .a-members {
  padding: 2rem;
  height: 600px;
  width: 100%;
  overflow: auto;
  background-color: white;
  /* 最新消息顯示table */
}
body section.c-rwd section.c-right .c-block .a-members .c-myart {
  text-align: left;
}
body section.c-rwd section.c-right .c-block .a-members .c-myart tr td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1rem;
}
body section.c-rwd section.c-right .c-block .a-members .c-myart tr:hover {
  background-color: rgba(178, 213, 206, 0.3);
}
body section.c-rwd section.c-right .c-block .a-totalArt {
  padding: 2rem;
  height: 600px;
  width: 100%;
  overflow: auto;
  background-color: white;
  /* 最新消息顯示table */
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart {
  text-align: left;
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr td {
  max-width: 15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr td a {
  color: black;
  text-decoration: none;
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr td button.a-takeOf {
  color: #27a2b8;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid #27a2b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s ease;
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr td button.a-takeOf:hover {
  border: none;
  background-color: #b2d5ce;
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr td button.a-takeOf:disabled {
  background-color: rgb(182, 182, 182);
  color: gray;
  border: none;
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr:hover {
  background-color: rgba(178, 213, 206, 0.3);
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr.a-deleteDone {
  background-color: rgb(178, 178, 178);
}
body section.c-rwd section.c-right .c-block .a-totalArt .a-myart tr.a-takeOfDone {
  background-color: rgb(221, 221, 221);
}
body section.c-rwd section.c-right .c-block .a-tags {
  padding-top: 1rem;
  width: 100%;
  flex: 3 1 350px;
}
body section.c-rwd section.c-right .c-block .a-tags ul.tags li {
  margin: 6px 4px;
  padding: 4px 10px;
  display: inline-block;
  background-color: #b2d5ce;
  border-radius: 50px;
}
body section.c-rwd section.c-right .c-block .a-tags ul.tags li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
body section.c-rwd section.c-right .c-block .a-tags ul.tags li:hover {
  background-color: #5db8a6;
}

@media (min-width: 992px) {
  body section.c-rwd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
  }
  body section.c-rwd section.c-left {
    margin: 0rem 2rem;
    flex-basis: 350px;
    position: -webkit-sticky;
    position: sticky;
    top: 8vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 992px) {
  body section.c-rwd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  body section.c-rwd section.c-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  body section.c-rwd section.c-left div.c-head {
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
  }
  body section.c-rwd section.c-left div.c-head button.camera {
    top: 6em;
    right: 2em;
  }
  body section.c-rwd section.c-left div.c-select ul {
    border: none;
    font-size: 20px;
  }
  body section.c-rwd section.c-left div.c-select ul li {
    padding: 2px;
  }
}
@media (max-width: 400px) {
  section.c-rwd section.c-right .c-block .c-title {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */